<div class="container-fluid d-flex flex-row justify-content-center" id="login-header">
  <a href="/homepage">
    <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller"  class="logo" />
  </a>
</div>

<nav class="navbar justify-content-end navbar-dark bg-dark"></nav>

<div class="login-instructions">Please login to access your collection. If you do not have an account already, sign up below!</div>

<div class="row justify-content-center">
  <div class="login-div col-md-3">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
      </div>
      <input class="form-input" type="text" id="email-login" />
      <div class="form-group">
        <label for="password-login">Password:</label>
      </div>
      <input class="form-input" type="password" id="password-login" />
      <div class="form-group">
        <button class="login-btn btn" type="submit" id="submit">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="signup-div col-md-3">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
      </div>
      <input class="form-input" type="text" id="name-signup" />
      <div class="form-group">
        <label for="email-signup">Email:</label>
      </div>
      <input class="form-input" type="text" id="email-signup" />
      <div class="form-group">
        <label for="password-signup">Password:</label>
      </div>
      <input class="form-input" type="password" id="password-signup" />
      <div class="form-group">
        <button class="signup-btn btn" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>